body,
html {
    padding: 0;
    margin: 0;
    overflow: hidden !important;
    background-color: #060606;
}

#menuWrapper {
    display: none !important;
}

#bottomFooter p {

    font-size: 15px !important;
}

#bottomFooter{
    color: #878787;
    background-color: rgb(0, 0, 0);
}
#mainFooter {
    display: none !important;
}

#langOpt {
    min-width: 1000px;
}

@media (min-width:1000px) and (max-height:520px) {

    #langOpt {
        margin-top: 12vh;
    }
}


#blackOverlay {
    position: fixed;
    height: 92vh;
    width: 100vw;
    z-index: 3;
    opacity: 0.3;
}

.unblur {
    animation: unblur 0s 3s forwards;
}

section {
    padding: 20px;
    position: fixed;
    z-index: 1;
    transition: all 1s linear;
    z-index: 4;
}

h2 {
    display: flex;
    justify-content: center;
}

h2 svg {
    max-width: 60vw;
}
a{
    font-family: ubuntu !important;
}
h1 {
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    white-space: nowrap;
    font-family: ubuntu;
    font-weight: 400;
}

.welcome {
    display: block;
}

#container {


    overflow: hidden;
    height: 92vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    animation: turnOnLight 4s 1s forwards;
}


#consulting {
    z-index: 1;
    height: 92vh;
    
    width: 100%;
    transition: all  .5s;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-right: 150%;              
   
    background:linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.7)), url(../img/front/consulting.webp);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}


#development {
    z-index: 1; 
    
 
    height: 92vh;
    width: 100%;
    transition: all .5s;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-left: 150%;
    
    background:linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.7)), url(../img/front/development.webp);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

button{
    border:2px solid #211e1b;
    color: #211e1b;
    
    background:none;
    padding:8px 15px;
    border-radius: 40px;

}

h3 {
    font-family: ubuntu;
    font-weight: 600;
    margin-top:0.5em;
    line-height: 1em;
    margin-bottom: 0px !important;
    font-size: 2rem;
    
    text-transform: uppercase;
}

#consultingContent {
    padding: 20px;
    text-align: center;
    transition: all .4s;
    z-index: 9998;
    color: #000000;
    border-radius: 20px;
    
}

#developmentContent {

    padding: 20px;
    text-align: center;
    border-radius: 20px;
    z-index: 9998;
    border-radius: 20px;
}



p {
    z-index: 9997;
    font-size: 1.3rem;
    line-height: 1em;
    display: inline;
    white-space: nowrap;
    font-family: ubuntu;
    font-weight: 400;
}

#consultingContent a,
#developmentContent a {

    font-weight: 300;
    display: inline;
    font-size: 1.2em;
    font-family: ubuntu;
    vertical-align: baseline;
    padding-right: 1em;
}

.closing {
    animation: closing 2s 1s forwards;
}


@media (max-width:730px) {
    a{
        text-align: left !important;}

    #container {
        flex-wrap: wrap !important;
    }

    #consulting {
        align-items: center;
        padding-top:8vh;
        width: 100vw;
        max-height: 50vh !important;
        box-sizing: border-box;
    }

    #development {
        padding-bottom:8vh;
        width: 100vw;
        max-height: 50vh !important;
        box-sizing: border-box;
    }
}




#btnLangs {
    width: 100%;
    max-width: 700px;

    margin: auto;
    display: flex;
    justify-content: space-between;
}
button {
    cursor: pointer;
    transition: 1s;
}
button:hover{
    background-color: #000000;
  color: #fff;
    transition: .3s;
}
#btnLangs button {

    opacity: 0;
    animation: showUp 2s 1s forwards;
    border: none;
    width: 150px;
    background: none;
    padding: 0;
    margin-top: 50px;
}




@media (max-width:855px) {

    #btnLangs {
        max-width: 85vw;

        margin-bottom: -25px;
    }

    #btnLangs button {
        width: 20vw;
        max-width: 150px;
    }

}


#logo {

   z-index: 9999 !important;
    opacity: 0;
    animation: show 2s 0s forwards;
    margin-top: 20px;
    padding: 5px;
    display: flex;
    justify-content: center;
    width: 180px;
    min-width: 12vw; 
}

@media (max-width:1024px) {
    #logo {
        margin-top: 28px;
    }
}

@media (min-width:1100px) {
    #logo {
        margin-top: 28px;
    }
}

@media (max-width:550px) {

    #btnLangs {
        margin-bottom: -50px;
    }

    #welcome {
        margin-bottom: 10px;
    }
}

@media (max-width:500px) and (max-height:500px) {
    #logo {
        margin-top: 0px;
    }
}

/* Logo */

#logoContainer {
    margin-top: -70px;
    /* Compensate Language option margin  */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    padding-right: 20px;
}


h4 {
    font-size: 1.5rem;
    border-bottom: 1px;
    border: solid #fff;

}



@keyframes unblur {
    0% {
        opacity: 0;
    }

    10% {}

    100% {
        opacity: 1;
    }
}


@keyframes closing {
    0% {
        opacity: 1
    }

    10% {}

    100% {
        margin: 0;
        opacity: 1
    }
}

@keyframes showUp {
    0% {
        opacity: 0;
    }

    70% {
        opacity: 1;
    }

    100% {
        margin-top: 0px;
        opacity: 1;
        margin-bottom: 50px;
    }


}

@keyframes show {
    0% {
        opacity: 0;
    }

    70% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }


}






@media (min-width:1649px) {
    h3 {
        font-size: 3rem !important;
    }

    p {
        font-size: 2.4rem !important;
    }

    a {
        font-size: 1.5rem !important;
    }
    button{
        font-size: 1.2rem !important; 
    }
}

@media (max-width:1650px) {
    h3 {
        font-size: 2.5rem !important;
    }

    p {
        font-size: 2rem !important;
    }

    a {
        font-size: 1.2rem !important;
    }
    button{
        font-size: 1rem !important; 
      margin-top:-1em;
    }
}

@media (max-width:781px) {
    #logoContainer {    margin-top: -85px;
        /* Compensate Language option margin  */
    }    
    h3 {
        font-size: 1.8rem !important;
    }

    p {
        font-size: 1.4rem !important;
    }

    a {
        font-size: 1.2rem !important;
    }
}
@media (max-width:381px) {
    h3 {
        margin-top: 0.8em;
        font-size: 1.6rem !important;
    }

    p {
        font-size: 1rem !important;
    }

    a {
        font-size: 1.2rem !important;
    }
    button{
        font-size: 0.9rem !important;
        padding: 0.5em 0.8em;
    }
}
