body{
	background-color: #171717;
	opacity: 1;
	background-image: 
	radial-gradient(#222 1.05px, #000 1.05px);
	background-size: 31px 31px;
    overflow: hidden;
    background-attachment: fixed;
	
}

header{
    background: linear-gradient(to top, rgba(0,0,0,0) 5%,rgba(0,0,0,1) 90%);

}
