@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body{
	background-color: #111;
	opacity: 1;
	
	
}
#site{
    background-color: #111;
  padding: 6vh 0;
  background-image: linear-gradient( rgba(17, 17, 17,0.9) 0%, rgba(17, 17, 17, 1) 100%)
  ,linear-gradient(to top, rgba(17, 17, 17,0.1) 70%, rgba(17, 17, 17, 1) 100%) ,
  linear-gradient(to bottom, rgba(17, 17, 17,0) 0%, rgba(17, 17, 17, 1)40%) , url("/img/server.webp");
  
  background-size: 180%;
  background-repeat: no-repeat;
}

@media (min-width:767px){

    #site{
        background-color: #111;
      padding: 6vh 2vw;
      background-image: linear-gradient(145deg, rgb(17, 17, 17) 48%, rgba(17, 17, 17, 0.4) 100%),
      linear-gradient(to bottom, rgba(17, 17, 17,0) 0%, rgba(17, 17, 17, 1) 100%) , url("/img/server.webp");
      
      background-position: 30vw 0px;
      background-size: cover;
      background-blend-mode: luminosity;
      background-repeat: no-repeat;
    }
    
}
#e-commerce{
  background-color: #111;
padding: 6vh 0;
background-image: linear-gradient( rgba(17, 17, 17,0.8) 70%, rgba(17, 17, 17, 1) 100%),
linear-gradient(to top, rgba(17, 17, 17,0.1) 70%, rgba(17, 17, 17, 1) 100%) ,
linear-gradient(to bottom, rgba(17, 17, 17,0) 0%, rgba(17, 17, 17, 1)40%) , url("/img/front/development.webp");

background-size: 240%;
background-repeat: no-repeat;
}

@media (min-width:767px){

  #e-commerce{
      background-color: #111;
    padding: 6vh 2vw;
    background-image: linear-gradient(218deg, rgb(17, 17, 17) 48%, rgba(17, 17, 17, 0.5) 100%),
    linear-gradient(to bottom, rgba(17, 17, 17,0) 0%, rgba(17, 17, 17, 1) 100%) , url('/img/front/development.webp');
    
    background-position: 0vw 0px ;
    background-size: cover;
    background-blend-mode: luminosity;
    background-repeat: no-repeat;
  }
  
}




#socialmedia{
  background-color: #111;
padding: 6vh 0;
background-image: linear-gradient( rgba(17, 17, 17,0.9) 0%, rgba(17, 17, 17, 1) 100%),
linear-gradient(to top, rgba(17, 17, 17,0.1) 70%, rgba(17, 17, 17, 1) 100%) ,
linear-gradient(to bottom, rgba(17, 17, 17,0) 0%, rgba(17, 17, 17, 1)40%) , url("/img/team.jpg");
background-position:0px 0px;
background-size: 180%;
background-repeat: no-repeat;
}

@media (min-width:767px){

  #socialmedia{
      background-color: #111;
    padding: 6vh 2vw;
    background-image: linear-gradient(145deg, rgb(17, 17, 17) 48%, rgba(17, 17, 17, 0.6) 100%),
    linear-gradient(to bottom, rgba(17, 17, 17,0) 0%, rgba(17, 17, 17, 1) 100%) , url("/img/team.jpg");
    
    background-position: 13vw 0px;
    background-size: cover;
    background-blend-mode: luminosity;
    background-repeat: no-repeat;
  }
  
}